{# templates/emails/registration/confirm.html.twig #}
<h3>Hi, {{ user.username }}</h3>
<h2>To activate your account open this link: </h2>
<a href="{{ url('user_confirm', {email_token: user.getEmailToken}) }}">activation link</a>
