{% extends 'base.html.twig' %}

{% block title %}Forgot password{% endblock %}

{% block content %}
    <div class="row">
        <section>
            {{ form_start(resetting_form) }}
            {{ form_errors(resetting_form) }}
            {{ form_row(resetting_form.email) }}
            <br>
            {{ form_end(resetting_form) }}
        </section>
    </div>
{% endblock %}