{% extends 'base.html.twig' %}

{% block title %}Forgot password{% endblock %}

{% block content %}
    <section>
        {{ form_start(resetting_form) }}
        {{ form_row(resetting_form.email) }}

        <button class="btn" type="submit">Send</button>
        {{ form_end(resetting_form) }}
    </section>
{% endblock %}