{% extends 'base.html.twig' %}

{% block title %}
    Enter new password
{% endblock title %}

{% block content %}
    <section>
        {{ form_start(password_form) }}
        {{ form_row(password_form.password.first) }}
        {{ form_row(password_form.password.second) }}

        <button class="btn" type="submit">Send</button>
        {{ form_end(password_form) }}

    </section>
{% endblock content %}