{{ form_start(form) }}
<div class="row gtr-uniform">
    <div class="col-6 col-12-xsmall">{{ form_widget(form) }}</div>
    <div class="col-12">
        <button class="btn">{{ button_label|default('Save') }}</button>
    </div>
</div>
{{ form_end(form) }}
