<form method="post" action="{{ path('supplies_delete', {'supplyId': supply.supplyId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ supply.supplyId) }}">
    <button class="btn">Delete</button>
</form>
