{% extends 'base.html.twig' %}

{% block title %}Edit Suppliers{% endblock %}

{% block content %}
    <h1>Edit Suppliers</h1>

    {{ include('suppliers/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('suppliers_index') }}">back to list</a>

    {{ include('suppliers/_delete_form.html.twig') }}
{% endblock %}
