{% extends 'base.html.twig' %}

{% block title %}Edit Suppliers{% endblock %}

{% block content %}
    <h1>Edit Suppliers</h1>

    {{ include('suppliers/_form.html.twig', {'button_label': 'Update'}) }}
    <ul class="actions">
        <li><a href="{{ path('suppliers_index') }}" class="button">back to list</a></li>
        <li>{{ include('suppliers/_delete_form.html.twig') }}</li>
    </ul>
{% endblock %}
