{% extends 'base.html.twig' %}

{% block title %}Products index{% endblock %}

{% block content %}
    <h1>Statistic page</h1>
    {{ dump(products) }}
    {{ dump(contracts) }}

    <div class="table-wrapper">
        <table>
            <thead>

            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

{% endblock content %}