{% extends 'base.html.twig' %}

{% block title %}
    New post
{% endblock title %}

{% block content %}
    <div class="row">
        <section>
            {{ form(form) }}
        </section>
    </div>
{% endblock content %}