{% extends "base.html.twig" %}

{% block content %}
    {%  for topic in topics %}
        {{ topic.title }}
        {{ topic.id }}
        <ul class="actions">
            <li><a class="button big" href="{{ path('poststopics', {slug: topic.slug}) }}">Read</a> </li>
        </ul>
    {%  endfor %}
{% endblock content %}