{%  extends "base.html.twig" %}

{% block title  %}
    {{ topic.title }}
{% endblock title %}

{% block content %}
    {% for post in pagination %}
        {{ post.title }}

        <ul class="actions">
            <li><a class="button big" href="{{ path('postspost_show_id', {slug:topic.slug, post_id: post.id}) }}">Read</a> </li>
        </ul>
    {% endfor %}

    {{ knp_pagination_render(pagination) }}

{% endblock content %}