{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block content %}
    <br>
    <header class="main">
        <h2>Log in</h2>
    </header>
    <form method="post" action="#">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="row gtr-uniform">
            <div class="col-12">
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
            </div>
            <!-- Break -->
            <div class="col-12">
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <!-- Break -->
            <div class="col-6 col-12-small">
            </div>
            <div class="col-12">
                <ul class="actions">
                    <li><input type="submit" value="Log in" class="primary" /></li>
                </ul>
            </div>
        </div>
    </form>
{% endblock %}
