{% extends 'base.html.twig' %}

{% block title %}Edit Products{% endblock %}

{% block content %}
    <h1>Edit Products</h1>
    {{ include('products/_form.html.twig', {'button_label': 'Update'}) }}
    <ul class="actions small">
        <li><a href="{{ path('products_index') }}" class="button">back to list</a></li>
        <li>{{ include('products/_delete_form.html.twig') }}</li>
    </ul>

{% endblock content %}
