{# templates/profile/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title  %}
    Edit profile
{% endblock title %}

{% block content %}
    <section>
        <div class="row gtr-uniform">
        {{ form_start(form, {'method': 'PUT'}) }}
        <div class="col-12">
            {{ form_row(form.first_name) }}
            {{ form_row(form.second_name) }}
        </div>
        <br/>
        <div class="col-12">
            <ul class="actions">
                <li><input type="submit" value="Save" /></li>
            </ul>
        </div>
        {{ form_end(form) }}
        </div>
    </section>
{% endblock content %}


