{# aboout.html.twig #}
{% extends "base.html.twig" %}

{% block title %}
    About
{% endblock title %}

{% block content %}
    <div class="content">
        <header>
        </header>
        <p>
            some text
        </p>
    </div>
{% endblock content %}