{# home.html.twig #}
{%  extends "base.html.twig" %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
<div class="content">
    <header>
        <h1>{{ message }}</h1>
    </header>
</div>
{% endblock content %}

