{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block content %}
     <div class="row">
         <section>
            <h1>{{ message }}</h1>
         </section>
     </div>
{% endblock content %}